@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@700&display=swap');
/*@import url("fonts.css");*/
@import url("reset.css");

.block {
	background-color: rgb(203, 156, 140);
	padding: 15px 50px;
	text-align: center;
}
.block p:not(:last-child) {
	margin-bottom: 25px;
}
.block img {
	padding-right: 15px;
}

